<footer>
<style>
footer{
    background-color: var(--secondary-color);
    margin-top: 5rem;
    color: var(--primary-color);
    display: grid;
    place-content: center;
    min-height: 100px;
}
</style>
    <section>
        <p>Holdup Nevus 2023 &#169;All Rights Reserved</p>
    </section>
</footer>