<nav>
    <section class="navLogo fadeLogo">
        <img src="/img/webPhotos/logo.png" alt="" title=""
        width="60" height="60"/>
        <h2>Holdup Nevus</h2>
    </section>
    <div class="menuIcon fadeLinks">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <section class="hide slideFromUp links fadeLinks">
        <a href="/#main">Home</a>
        <a href="/#aboutUs">About us</a>
        <a href="/#gamesPart">Games</a>
        <a href="/#contactUs">Contact us</a>
    </section>
</nav>