<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holdup Nevus | Games</title>

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/games.css">
</head>
<body>

    <% function teamTemplate(role, name) {
    return `<section>
        <img src="/img/roles/${role}.png" width="50" height="50">
        <p>${name}</p>
    </section>`;
    }
    %>

    <% matches.forEach( match => { %>
        <% ///// Dividing players for winners and losers /////
        let losers = [] 
        let winners = []
        match.info.participants.forEach( info => {
            if (info.win === false){
                losers.push(info)
            }else{
                winners.push(info)
            }
        }) %>

        
        <section class="wrapMatch">
        <a href="/game/<%= match.metadata.matchId %>">
            <section class="winnersWrap">
                <% winners.forEach( info => {%>
                    <%- teamTemplate(info.teamPosition, info.summonerName) %>
                <%})%>
            </section>
            <section class="losersWrap">
                <% losers.forEach( info => {%>
                    <%- teamTemplate(info.teamPosition, info.summonerName) %>
                <%})%>
            </section>
        </a>  
        </section>
        
    <%})%>


</body>
</html>