<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holdup Nevus</title>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/fun.css">
</head>
<body>

    <nav>
        <section class="navLogo">
            <img src="/img/webPhotos/logo.png" alt="" title=""
            width="60" height="60">
            <h2>Holdup Nevus</h2>
        </section>
        
        <section class="links">
            <a href="#main">Home</a>
            <a href="#aboutUs">About us</a>
            <a href="#">Members</a>
            <a href="#">Games</a>
            <a href="#contactUs">Contact us</a>
        </section>
    </nav>

    
    <section class="main" id="main">
        <h1 class="mainTitle">Holdup Nevus</h1>
        <!--<img class="mainTitle" src="/img/webPhotos/fullLogo.png" width="700" height="700">-->
        <img class="mainTitleBG" src="/img/webPhotos/teamfoto.avif" width="500" height="500">
    </section>
    <main>


        <section class="aboutUs" id="aboutUs">
            <section class="aboutUsItem">
                <img src="/img/webPhotos/groupIcon.png" width="300" height="300">
                <article>
                    <h2>Who we are</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
                
            </section>
            <section class="aboutUsItem">
                <article>
                    <h2>What we do</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
                <img src="/img/webPhotos/whatWeDo.png" width="300" height="300">
            </section>
            <section class="aboutUsItem">
                <img src="/img/webPhotos/groupIcon.png" width="300" height="300">
                <article>
                    <h2>Members</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
            </section>
        </section>

        <div class="div">
        </div>

        <section class="contactUs" id="contactUs">
                <article>
                    <h1>Contact us!</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
                
                <aside>
                    <div class="item">
                        <label for="who">From</label>
                        <input class="contactUsInput" type="text" id="who">
                    </div>
                    <div class="item">
                        <label for="mail">Email adress</label>
                        <input class="contactUsInput" type="text" id="mail">
                    </div>
                    <div class="item">
                        <label for="message">Message</label>
                        <textarea class="contactUsInput" id="message" rows="7" cols="30"></textarea>
                    </div>
                    <button id="submit">SEND</button>
                </aside>

        </section>
    </main>

    <footer>
        
    </footer>

    
    <script>
        /////////////////////////////////////////////////////////
        /////////// Contact Us sending message ///////////////////
        //////////////////////////////////////////////////////////
        let btn = document.getElementById("submit");
        let who = document.getElementById("who");
        let mail = document.getElementById("mail");
        let msg = document.getElementById("message");

        btn.addEventListener('click', () => {

            // TODO: weryfikacja danych :D

            btn.textContent = "Sending..."

            /// Check if values are not empty
            if (!who.value){
                // who.classList.add("wrongInput");
                btn.textContent = "SEND"
                return;
            }
            if (!mail.value){
                btn.textContent = "SEND"
                return;
            }
            if (!msg.value){
                btn.textContent = "SEND"
                return;
            }

            // Check if email has @ in it
            if (!mail["value"].includes("@")){
                btn.textContent = "SEND"
                return;
            }

            fetch('http://localhost:8003/sendContactMessage', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "who": who.value, "mail": mail.value, "message": msg.value})
            })
            .then(response => {
                if (response.status == 200){
                    window.alert("Message sent succesfully!")
                }else{
                    window.alert("Message was NOT sent!")
                }
                who.value = "";
                mail.value = "";
                msg.value = "";
                btn.textContent = "SEND"
            })
        })


        /////////////////////////////////////////////////////////
        /////////// Add bg to nav after scrolling out of main///
        //////////////////////////////////////////////////////////
        let navBG = false;
        let nav = document.querySelector('nav')

        const showScroll = function(){
            let size = window.innerHeight * 0.85

            if (!navBG && window.scrollY >= size){
                nav.classList.add('navBG');
                navBG=true;
            }
            if (navBG && window.scrollY < size){
                nav.classList.remove('navBG');
                navBG = false;
            }
        }
        showScroll()
        window.addEventListener('scroll', showScroll)
        window.addEventListener('resize', showScroll)
    </script>
</body>
</html>