<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holdup Nevus</title>

    <link rel="icon" type="image/x-icon" href="/img/webPhotos/logo.png">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/fun.css">

    <script src="/js/nav.js" defer></script>
</head>
<body>

    <%- include('./partials/mainNav.ejs') %>

    
    <section class="main" id="main">
        <h1 class="mainTitle hideFadeIn hide">Holdup Nevus</h1>
        <!--<img class="mainTitle" src="/img/webPhotos/fullLogo.png" width="700" height="700">-->
        <div class="hideDarkIn showDarkIn"></div>
        <img class="mainTitleBG" src="/img/webPhotos/teamfoto.avif" width="500" height="500">
    </section>
    <main>


        <section class="aboutUs" id="aboutUs">
            <section class="aboutUsItem">
                <img class="hideFromRight" src="/img/webPhotos/groupIcon.png" width="300" height="300">
                <article class="hideFromRight">
                    <h2>Who we are</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
                
            </section>
            <section class="aboutUsItem">
                <article class="hideFromLeft">
                    <h2>What we do</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
                <img class="hideFromLeft" src="/img/webPhotos/whatWeDo.png" width="300" height="300">
            </section>
            <section class="aboutUsItem">
                <img class="hideFromRight" src="/img/webPhotos/groupIcon.png" width="300" height="300">
                <article>
                    <h2 class="hideFromRight">Members</h2>
                    <p class="hideFromRight">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
            </section>
        </section>

        <section id="gamesPart" class="gamesPart">
            <section>
                <h2 class="hideFromRight sectionTitle">Check out our games!</h2>
                <article class="hideFromLeft">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</article>
                <a class="btn" href="/games">GAMES</a>
            </section>
        </section>

        <section class="contactUs" id="contactUs">
                <article class="hideFromRight">
                    <h1>Contact us!</h1>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </article>
                
                <aside class="hideFromLeft">
                    <div class="item">
                        <label for="who">From</label>
                        <input class="contactUsInput notEmptyInput" type="text" id="who">
                    </div>
                    <div class="item">
                        <label for="mail">Email adress</label>
                        <input class="contactUsInput notEmptyInput" type="text" id="mail">
                    </div>
                    <div class="item">
                        <label for="message">Message</label>
                        <textarea class="contactUsInput notEmptyInput" id="message" rows="7" cols="30"></textarea>
                    </div>
                    <p class="contactErrorMessage"></p>
                    <p class="contactSuccessMessage"></p>
                    <button id="submit" class="btn">SEND</button>
                </aside>

        </section>
    </main>

    <%- include('./partials/footer.ejs')%>

    
    <script src="/js/home.js">
    </script>
</body>
</html>