
a{
    text-decoration: none;
    color: none;
    display: flex;
    justify-content: space-evenly;
    transition: all 0.5s;
}

a:hover{
    opacity: 0.7;
    filter: blur(5px);
    transition: all 0.5s;
}

.wrapMatch{
    margin-top: 1rem;
    border: 2px solid black;
    overflow: hidden;
}

.winnersWrap, .losersWrap{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: .5rem;
    font-weight: 800;
}

.winnersWrap p, .losersWrap p{
    display: grid;
    place-content: center;
}

.winnersWrap section, .losersWrap section{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}


.winnersWrap{
    background-color: rgb(34, 119, 229);
    border-right: 2px solid black;
    text-shadow: 0 0 3px black;
    color:rgb(160, 208, 255)
}

.losersWrap{
    background-color: rgb(232, 31, 31);
    color:rgb(16, 17, 17);
    text-shadow: 0 0 3px white;
    
}