@import url(mainSettings.css);

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    
    background-color: var(--primary-color);
    font-family: Righteous,Arial,sans-serif;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    font-size: 3rem;
}


.main{
    position: relative;
    overflow: hidden;
    height: 100vh;
}


.mainTitle{
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-color);
    z-index: 1;
}

.mainTitleBG{
    width: 100%;
    height: 100%;
    filter: brightness(0.3) blur(2px);
    transform: scale(1.05);
}

.aboutUs{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.aboutUsItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:20%;
    padding: 2rem 0;
}

.aboutUsItem article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aboutUsItem h2{
    font-size: 3rem;
}

.aboutUsItem p{
    max-width: 70ch;
}

.contactUs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    gap:10%;
}

.contactUs aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 5px black;
    padding: 2rem 1.5rem;
    border-radius: 2px;
    flex: 1;
}

.contactUs aside .item{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.contactUs input, .contactUs aside textarea{
    padding: 0.3rem;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    background-color: inherit;
    border-radius: 2px;
    -webkit-text-fill-color: var(--accent-color); /* autocomplete coloring */
    color: var(--accent-color);
    font-family: Righteous,Arial,sans-serif;
}

aside .inputInUse, .contactUs input:focus, .contactUs textarea:focus{
    outline: 2px solid var(--secondary-color);
    outline-offset: -1px;
    border-radius: 2px;
}

aside .wrongInput{
    outline: 2px solid red;
}

.contactUs article{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}


.aboutUs h2, .contactUs h1{
    color: var(--accent-color);
}

#submit{
    padding: 0.5rem 2.4rem;
    border-radius: 2px;
    border: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transition: all .3s;
    font-family: Righteous,Arial,sans-serif;
}

#submit:hover{
    outline: 2px solid var(--accent-color);
    outline-offset: -4px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    transition: background-color .5s, color .5s;
    cursor: pointer;
}

#submit:active{
    outline: none;
}

::placeholder{
    color: var(--secondary-color);
    font-family: Righteous,Arial,sans-serif;
}

.hide{
    display: none;
}


/* ONLY TO DEVELOPMENT HELP*/
footer{
    height: 200px;
}

.div{
    height: 1000px;
    width: 100%;
}