nav{
    position: fixed;
    overflow: hidden;
    top:0;
    left:0;
    min-height: 4rem;
    z-index: 10;
    width: 100%;
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links{
    display:flex;
    align-items: center;
    gap:2rem;
    transition: all 1s;
}

nav .links a, nav .links a:active, nav .links a:visited{
    display: block;
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

nav .links a:hover, nav .links a:focus{
    font-size: 1.2rem;
    filter: brightness(1.2);
}

nav .navLogo{
    filter: blur(0);
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: all 1s;
}

.navBG{
    background-color: var(--secondary-color);
}

nav .menuIcon{
    transition: all 1s;
}

nav .menuIcon div{
    display: none;
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: var(--accent-color);
    transition: 0.5s ease-in;
}

nav .menuIcon:hover{
    cursor: pointer;
}

body nav .openedMenuIcon div{
    transform: rotate(-360deg);
    opacity: 0;
    transition: 0.3s ease-in;
}

body nav .openedMenuIcon div:first-child{
    opacity: 1;
    transform: rotate(495deg) translateY(-14px);
    
} 

body nav .openedMenuIcon div:last-child{
    opacity: 1;
    transform: rotate(-495deg) translateY(14px);
    
} 

nav .fadeLogo{
    transform: translateX(-300px);
    filter: blur(10px);
}

nav .fadeLinks{
    transform: translateX(500px);
    filter: blur(10px);
}


@media screen and (max-width: 850px){

    nav .menuIcon div{
        display: block;
    }

    body nav .links{
        border-top: 2px solid var(--accent-color);
        flex-direction: column;
        position: fixed;
        top:76px;
        left:0;
        background: var(--secondary-color);
        width: 100%;
        gap:0;
    }

    nav .links a, nav .links a:active, nav .links a:visited{
        width: 100%;
        padding: .5rem 0;
        text-align: center;
    }


    body nav .links a:hover, body nav .links a:focus{
        font-size: 1rem;
        color: var(--secondary-color);
        background: var(--accent-color);
    }
}

@media screen and (max-width: 440px){
    nav .navLogo img{
        width: 40px;
        height: 40px;
    }

    nav .navLogo h2{
        font-size: 1.5rem;
    }

    body nav .links{
        top:64px;
    }
}