@import url(mainSettings.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: Righteous,Arial,sans-serif;
    display: grid;
    place-content: center;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

footer{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
}

nav{
    background-color: var(--secondary-color);
}

